.contSelector {
  min-width: 300px;
  max-width: 600px;
  width: 60%;
  padding: 1rem;
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem auto;
}

.subtitleSelector {
  margin-bottom: .5rem;
  color: #000000;
}

.contPicture {
  min-width: 300px;
  max-width: 600px;
  width: 60%;
  margin-inline: auto;
}

@media screen and (min-width: 1000px) {
  .contPicture, .contSelector {
    max-width: 800px;
  }
}

@media screen and (max-width: 800px) {
  .contSelector {
    flex-direction: column;
  }
}